input[type="date"] {
    border: none;
    outline: none;
    /* padding: 15px; */
    height: 35px;
    border-radius: 7px;
    -webkit-appearance: none;
    /* -webkit-min-logical-width: 100%; */
    background-color: white;
    align-items: center;
    background-color: #FCFCFC;
    border: 2px solid #D7D7D9;
}

.time-card-container {
    padding: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap
}

.time-card {
    position: relative;
    border: none;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 47%;
    height: 150px;
    margin: 5px;
    font-size: 16px;
    /* font-weight: bold; */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.time-card.booked {
    background-color: #B12028;
}

.time-card.available {
    background-color: #2AA55C;
}

.time-card.owner {
    background-color: #F4F4F4;
    border: 1px solid #565656;
    color: #565656;
}

.time-card .cancelBadge {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 3px 7px 3px 7px; */
    position: absolute;
    top: 8px;
    left: 8px;
}

.time-card:disabled {
    cursor: not-allowed;
}